* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #dadada;
    color: #333;
}

.page {
    padding: 15px 15px 50px 15px;
}

header {
    background-color: #222;
    padding: 15px;
    height: 50px;

    text-align: center;

    border: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: rgb(75, 25, 25);

    box-shadow:0px 1px 5px blackmargin;

    nav ul {
        list-style-type: none;

        li {
            display: inline;
            margin: 0 1rem;
            
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                transition: .5s;
            }
        }
    }
}

.title {
    background: url(images/initial-background.jpg) no-repeat center/cover;
    padding: 70px 20px;
    text-align: center;

    div {
        display: flex;
        flex-flow: column;
        margin: auto;
        position: relative;

        height: 50px;
        width: 670px;

        /*cima-direita-baixo-esquerda*/
        padding: 10px 10px 55px 10px;
        
        color: black;
        background: rgba(255, 255, 255, 0.2); /* Fundo semitransparente */
        
        backdrop-filter: blur(3px); /* Aplica o efeito de blur */
        
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    img {
        width: 30%;
        margin-bottom: 1rem;
        border: 5px solid rgb(75, 25, 25);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}








@media (min-width: 1200px) {
    .page {
        margin: 50px 200px 50px 200px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .page {
        margin: 50px 80px 50px 80px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .title {
        display: flex;
        flex: content;
        font-size: 13px;
        div {
            padding: auto;
        }
    }
}

@media (max-width: 670px) {
    .page {
        margin: 25px 30px 25px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .title {
        display: flex;
        flex: content;
        font-size: 13px;

        div {
            padding: 10px 10px 50px 10px;
        }
    }
}

@media (max-width: 767px) {
    .page {
        margin: 25px 30px 25px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .title {
        display: flex;
        flex: content;
        font-size: 13px;

        div {
            padding: 10px 10px 90px 10px;
        }
    }
}