@import url(../colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--backgroundColor);
    color: var(--fontsColor);

    h2, h3 {
        color: var(--emphasisColor);
    }
}

.page {
    padding: 15px 15px 50px 15px;
    background-color: var(--pageColor);
}

header {
    background-color: var(--fontsColor);
    padding: 15px;
    height: 50px;

    text-align: center;

    border: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: var(--primaryColor);

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    h1 {
        color: var(--pageColor);
        margin-top: -12px;
    }
}

.title {
    background: url(images/creditos.jpg) no-repeat center/cover;
    padding: 70px 20px;
    text-align: center;

    div {
        display: flex;
        flex-flow: column;
        margin: auto;
        position: relative;

        height: 50px;
        width: 670px;

        /*cima-direita-baixo-esquerda*/
        padding: 10px 10px 55px 10px;
        
        color: black;
        background: rgba(255, 255, 255, 0.2); /* Fundo semitransparente */
        
        backdrop-filter: blur(3px); /* Aplica o efeito de blur */
        
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.menu {
    display: flex;
    justify-content: space-between; /* Espaçamento entre as caixas */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;

    background-color: var(--fontsColor);
    border: 3px;
    padding: 5px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-style: solid;
    border-color: var(--primaryColor);

    a {
        text-decoration: none;
    }
}
.box {

    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.box:hover {
    color: aliceblue;
}

#um{
    background: url(images/introducao.jpg) no-repeat center/cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    h2 {
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.2);
        
        border-radius: 12px;
        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }
}

.content {
    text-align: justify;

    h2{
        text-align: center;
        padding: 8px;
    }

    article {
        font-size: 15px;
        padding: 8px;
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-top: 2px solid var(--primaryColor); /* Borda mais fina */
    border-bottom: 2px solid var(--primaryColor);
}

.footer-column {
    flex: 1;
    min-width: 250px;
    text-align: center;
    margin: 10px;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--primaryColor);
    font-weight: bold;
}

.footer-column p {
    font-size: 0.9em;
}

.footer-column a {
    color: var(--primaryColor);
    font-size: 1.0em;
}

.dev {
    margin-top: 10px;
}

.dev b {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1em;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.social-links a img {
    background-color: var(--primaryColor);
    border-radius: 10px;
    width: 30px;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
}

.social-links a img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #aaa;
    font-size: 0.8em;
}






@media (min-width: 1230px) and (max-width: 1295px) {
    #dois h2 { 
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.2);
        padding: 15px;


        border-radius: 12px;
        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }

    #um h2 { 
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.2);
        padding: 1px;


        border-radius: 12px;
        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }
}

@media (min-width: 1200px) {
    .page {
        margin: 50px 200px 50px 200px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .icon {
        position: absolute;
        width: 50px;
        margin-left: 230px;
        margin-top: 15px;
    }
}

@media (min-width: 990px) and (max-width: 1054px) {
    #dois h2 { 
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.2);
        padding: 15px;


        border-radius: 12px;
        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }

    #um h2 { 
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.2);
        padding: 1px;


        border-radius: 12px;
        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .page {
        margin: 50px 80px 50px 80px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .icon {
        position: absolute;
        width: 50px;
        margin-left: 110px;
        margin-top: 15px;
    }

    .title {
        display: flex;
        flex: content;
        font-size: 13px;
        div {
            display: flex;
            flex-flow: column;
            margin: auto;
            position: relative;
    
            height: auto;
            width: auto;
    
            /*cima-direita-baixo-esquerda*/
            padding: 10px 10px 5px 10px;
        }
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    .page {
        margin: 25px 30px 25px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .icon {
        position: absolute;
        width: 50px;
        margin-left: 60px;
        margin-top: 15px;
    }

    .title {
        display: flex;
        flex: content;
        font-size: 13px;

        div {
            display: flex;
            flex-flow: column;
            margin: auto;
            position: relative;
    
            height: auto;
            width: auto;
    
            /*cima-direita-baixo-esquerda*/
            padding: 10px 10px 5px 10px;
        }
    }
}

@media (min-width: 535px) and (max-width: 640px) {
    .icon {
        position: absolute;
        width: 30px;
        margin-left: 49px;
        margin-top: 25px;
    }

    .page {
        margin: 25px 30px 25px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .title {
        display: flex;
        flex: content;
        font-size: 13px;

        div {
            display: flex;
            flex-flow: column;
            margin: auto;
            position: relative;
    
            height: auto;
            width: auto;
    
            /*cima-direita-baixo-esquerda*/
            padding: 10px 10px 5px 10px;
        }
    }

    .images img{
        width: 28%;
        margin-left: 13px;
    }
}

@media (min-width:200px) and (max-width: 535px) {
    .icon {
        position: absolute;
        width: 30px;
        margin-left: 49px;
        margin-top: 25px;
    }
    .page {
        margin: 25px 30px 25px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .title {
        display: flex;
        flex: content;
        font-size: 13px;

        div {
            display: flex;
            flex-flow: column;
            margin: auto;
            position: relative;
    
            height: auto;
            width: auto;
    
            /*cima-direita-baixo-esquerda*/
            padding: 10px 10px 5px 10px;
        }
    }

    .images img{
        width: 28%;
        margin-left: 13px;
    }
}